* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all 0.3s;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #1D1F21;
    color: #FFF;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 100%;
    padding: 80px;
}

section {
    display: flex;
    width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word
}

h2 {
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
}

@media screen and (max-width: 615px) {
    .container{
        padding: 20px;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
      }
      50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      }
      100% {
        text-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
      }
}

@keyframes boxs-glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
      }
      50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      }
      100% {
        box-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
      }
}


/*? nav */
nav {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10%;
    z-index: 10;
    position: fixed;
    background-color: #1D1F21;
    border-bottom: 1px solid #2C2E30;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

nav ul li a {
    color:#FFF ;
}

nav ul li a:hover {
    border-bottom: 0.3rem solid #F60;
    font-weight: 600;
    transition: 0.2s;
}

nav a.icon {
    margin: 1em;
}

.nav-toggle {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
  
.nav-toggle input {
    width: 28px;
    height: 28px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
  
.nav-toggle span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: #444648;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
  
.nav-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
  
.nav-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}
  
.nav-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}
  
.nav-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
  

@media screen and (max-width: 915px) {
    nav {
        position: fixed;
    }
    
    ul li {
        width: 100%;
        text-align: start;
        align-items: start;
    }
    
    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 30vh;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        background-color: #1D1F21;
        transform: translateY(30%);
        opacity: 0;
        transition: transform 0.5s linear;
    }

    nav ul.dropdown {
        opacity: 1;
        padding: 0px 80px 10px 80px;
        border-bottom: 1px solid #2C2E30;
    }

    .nav-toggle{
        display: flex;
        margin-top: 20px;
    }
}
@media screen and (max-width: 615px) {
    nav {
        padding: 10px 20px 10px 20px;
    }

    nav ul.dropdown {
        opacity: 1;
        padding: 0px 20px 0px 20px;
        border-bottom: 1px solid #2C2E30;
    }

    nav a.icon {
        margin: 1em 1em 1em 0;
    }
}

/*? button component */
button.contact {
    background-color: #F60;
    color: #FFF;
    border-radius: 2.5rem;
    text-decoration: none;
    border:0;
    padding: 0.75rem;
    font-size: 0.8rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.contact:hover {
    background-color: #FF983F;
    color: black;
}

/*? home section */
#section-group-home {
    position: relative;
    background-image: url('bg.png') ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.col-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-hero > div {
    padding: 20px;
    margin: 15px;
}

.row-hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.row-hero h1 {
    animation: glow 3s infinite;
}

.row-hero p {
    font-weight: 300;
    font-size: 16px;
    margin: 1em 0 1em 0;
}

.hero-img {
    display: flex;
    width: 23.9375rem;
    height: 23.9375rem;
    justify-content: space-around;
}

@media (max-width: 767px) {
    #section-group-home {
        background-size: cover;
    }
}

@media screen and (max-width: 915px) {
    .hero-img{
        width: auto;
        order: 1;
    }
    .row-hero{
        order: 2;
        align-items: center;
        text-align: center;
    }
    .col-hero{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 615px) {
    .hero-img{
        width: auto;
        max-height: 200px;
        margin: 0 auto;
        order: 1;
    }
    .col-hero {
        margin: 32px 0 0 0;
        flex-wrap: wrap;
    }
    .row-hero h1 {
        font-size: 16px;
    }
    .row-hero p {
        font-size: 12px;
    }
}



/*? section group why */
.why {
    display: flex;
    height: 100%;
    width: 100%;
}

.why h1 {
    margin-bottom: 30px;
}

.col-why {
    width: 70%;
    background-color: #2C2E30;
    border-radius: 20px;
    padding: 40px;
    margin-right: 35px;
    transition: transform 0.1s ease-in-out;
}

.col-why:hover {
    box-shadow: 13px 13px 0px 0px rgba(255, 102, 0, 1);
    transform: translate(-12px, -12px);
}

.row-why {
    display: flex;
    flex-direction: column;
}

.row-why p {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.row-why-icon {
    background-color: #FF983F; 
    width: fit-content; 
    padding: 15px; 
    border-radius: 15px; 
    margin-top: 24px; 
    margin-bottom: 24px;
}

.beans-icon {
    max-width: 60px;
    height: 60px;
}

.col-why-aside {
    width: 30%;
    background-color: #444648;
    border-radius: 20px;
    padding: 29px;
    transition: transform 0.1s ease-in-out;
}

.col-why-aside:hover {
    box-shadow: 13px 13px 0px 0px rgba(255, 102, 0, 1);
    transform: translate(-12px, -12px);
}

.row-why-aside {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 915px) {
    .why{
        flex-wrap: wrap;
    }

    .col-why{
        width: max-content;
        padding: 20px;
        margin-right: 0px;
        margin-bottom: 32px;
    }

    .col-why-aside{
        width: max-content;
    }
}

@media screen and (max-width: 615px) {
    .why h2 {
        font-size: 20px;
    }

    .why p {
        font-size: 12px;
    }

    .row-why-icon {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .row-why h1 {
        font-size: 20px;
        margin-bottom: 1em;
    }

    .beans-icon {
        max-width: 30px;
        height: 30px;
    }
}

/*? section group caffein */
.row-caffein {
    margin-bottom: 32px;
}

.row-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
}

.card-item{
    width: 23%;
    text-align: left;
    margin-bottom: 32px;
    transition: transform 0.3s ease-in-out;
}

.card-item img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.card-item:hover img{
    transform: scale(1.1);
}

@media screen and (max-width: 915px) {
    .card-item{
        width: 45%;
    }
}

@media screen and (max-width: 615px) {
    .card-item{
        width: 100%;
    }
}

/*? section group article */
.row-article {
    margin-bottom: 32px;
}

.card-article{
    display: flex;
    width: 48%;
    align-items: center;
    margin-bottom: 32px;
    background-color: #2C2E30;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.card-article:hover {
    animation: boxs-glow 3s infinite;
    transform: scale(1.1);
}

.col-article-img{
    display: flex;
    background-color: #F60;
    border-radius: 20px;
}

.article-img{
    max-width: 152px;
    height: auto;
}

.col-article{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.col-article span b{
    color: #FF983F;
    font-weight: 500;
}

.col-article span h5{
    font-weight: 300;
    padding-top: 20px;
}

@media screen and (max-width: 915px) {
    .card-article{
        width: 100%;
    }
}

@media screen and (max-width: 615px) {
    .col-article {
        padding: 8px;
    }
    .col-article span {
        font-size: 10px;
        line-height: 2;
    }
    .col-article span h5 {
        padding: 0 0 0 0;
    }
    .article-img {
        max-width: 100px;
    }
}

/*? footer */
footer {
    width: 100%;
    height: auto;
    padding: 0.5rem 10%;
    background: #FF6600;
    word-wrap: break-word;
    overflow: hidden;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: #F5F5F5;
}

.container-ig {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2px;
    color: #F5F5F5;
}

.container-ig img {
    padding-right: 4px;
}

@media screen and (max-width: 615px) {
    footer ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer li {
        margin: 16px;
        flex-basis: 100%;
        text-align: center;
    }
}